.photoBox {
    width: 20%;    
    background-color: green;
    text-align: right;
    color: white;
}

.timelineBox {
    width: 80%;    
    height: 100vh;
  }
  
.stack {
  padding-top: 20px;
  font-size: 12px; 
  font-weight: bold;
}

samp {
  background: #000;
  border: 3px groove #ccc;
  color: #ccc;
  display: block;
}

.timelineBox ul {
  padding-inline-start: 15px;
}

.mat-mdc-card-title{
  font-size: 16px;
  line-height: normal;
}

body {
    margin: 0;
    padding: 1rem;
    max-width: 1200px;    
  }
  
  .container{
      display:flex;
  }
  
  .column-1 {
    flex-shrink: 0; /* shrinks to 0 to apply 70% width*/
    flex-basis: 70%; /* sets initial width to 70% */
  }
  
  .box {    
    padding: 20px;    
  }

  @media only screen and (max-width: 900px) {
    .container {
        /* it place the items in vertical direction */
      flex-direction: column;
    }
  
    .box {
      margin: 0 0 1rem;
    }

    .photoBox {
        width: auto;
    }
    
    .timelineBox {
        width: auto;
    }
  }