.container {
  position: relative;
}

.header {  
  border: 1px solid #000000;
  height: 70px;
  overflow: hidden;
  background-color: #333;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
  z-index: 1000;
}

.innerHeader {  
  clear: both;
  margin-bottom: 10px;
  border: 1px solid #000000;
  height: 70px;
}

.sidebar {
  float: left;
  width: 30%;
  height: 400px;
  background-color: green;
  background-image: url("../../assets/images/sample.png");
  text-align: right;
  color: white;
}

.content {
  float: right;
  width: 70%;
  border-left: 1px solid #000000;  
}

.footer {
  clear: both;
  margin-top: 10px;
  border: 1px solid #000000;  
  height: 1000px;
}

.stack {
  padding-top: 20px;
  font-size: 12px; 
  font-weight: bold;
}

samp {
  background: #000;
  border: 3px groove #ccc;
  padding: 12px;
  color: #ccc;
  display: block;
}

.content ul {
  padding-inline-start: 15px;
}

.mat-mdc-card-title{
  font-size: 16px;
  line-height: normal;
}

@media only screen and (max-width: 900px) {

  .content {
    width: 100%;
    border: none;  
  }
  
  .sidebar {
    display: grid;
    width: 100%;
  }
}