<mat-toolbar color="primary" class="mzd-app-toolbar">
    <h1 class="mat-headline">{{ title }}</h1>
    <div style="flex: 1;"></div>
</mat-toolbar>

<div class="container">
    <div class="photoBox">
        <h1>Geeksfo</h1>        
        <h1>Left</h1>        
    </div>
    <div class="timelineBox">
        <mzd-timeline>
            <mzd-timeline-content *ngFor="let data of timelineData" [card]="false">
              <mat-card>
                <mat-card-header>
                  <mat-card-title *ngIf="data.type==='position'">
                    {{data.title}} at <a [href]="data.company.website" target="_blank">{{data.company.name}}</a>
                  </mat-card-title>
                  <mat-card-subtitle>
                    {{data.dates.start | date: 'MMM yyyy'}} -
                    {{data.dates.end ? (data.dates.end | date: 'MMM yyyy') : 'present'}}
                  </mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                  <ul *ngFor="let item of data.responsibilities">
                    {{item}}
                  </ul>
                </mat-card-content>
              </mat-card>
            </mzd-timeline-content>
        </mzd-timeline>    
    </div>
</div>

<footer class="mzd-app-footer">
<div class="footer-content">
    Made with &hearts; by <a class="portfolio" href="https://mazedulislam.com/" target="_blank">Mazedul Islam</a>
</div>
</footer>